body {
  background: #ADD8E6;
  background: -webkit-linear-gradient(#ADD8E6, #ffffff) fixed;
  background: -o-linear-gradient(#ADD8E6, #ffffff) fixed;
  background: -moz-linear-gradient(#ADD8E6, #ffffff) fixed;
  background: linear-gradient(#ADD8E6, #ffffff) fixed;
  background-repeat: no-repeat; }

.btn {
  background-color: #6f0000;
  color: #fff; }

.bton {
  background-color: #000080;
  color: #fff; }

.events {
  background: #6666FF;
  background: -webkit-linear-gradient(#6666FF, #af0000);
  background: -o-linear-gradient(#6666FF, #af0000);
  background: -moz-linear-gradient(#6666FF, #af0000);
  background: linear-gradient(#6666FF, #af0000);
  background-repeat: no-repeat;
  color: #fff; }

.response-field {
  color: #fff; }

.sign-in-page {
  background-color: #6666FF; }

.title {
  color: #67818A; }

.user-access {
  background-color: #95b9c7; }

.title {
  font-family: 'Cookie', cursive;
  font-size: 200px; }

.events {
  font-size: 20px; }

h1 {
  text-align: center; }

.form {
  padding: 1%; }

.btn {
  margin-top: 10px; }

.events {
  border-radius: 20px;
  display: block;
  margin: 10px;
  padding: 1%;
  text-align: center; }

.sign-in-page {
  border-radius: 20px;
  margin: 5% 20%;
  padding: 3% 0;
  text-align: center; }

.user-access {
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  text-align: left; }
